.img {
  width: 5rem;
  height: 7rem;
}

p {
  font-size: 14px;
}

#title1 {
  font-size: larger;
  color: #282828;
}

#title2 {
  font-size: larger;
  color: #282828;
}

#title3 {
  font-size: larger;
  color: #282828;
}
