.img {
  width: 5rem;
  height: 7rem;
}

p {
  font-size: 14px;
}

#title1 {
  font-size: larger;
  color: red;
}

#title2 {
  font-size: larger;
  color: blue;
}

#title3 {
  font-size: larger;
  color: green;
}
